<div class="intro-splash-content">
  <p> <span class="black-font">Garagisti</span> | ˈgarɑʤɪstɪ | noun </p>
  <p>An insult uttered by Enzo Ferrari in the 1950s to describe start up Formula One racing teams as <span class="bold">"garage teams"</span>, or <span class="bold">"Garagisti"</span></p>
  <p><span class="italics">It is now worn as a badge of pride by those who combine hard work with creativity to soar to greatness</span></p>
  <p> <span class="black-font">Garagisti</span> | ˈgarɑʤɪstɪ | verb </p>
  <p><span class="italics">To create ex nihilo</span></p>
</div>