/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    z-index: 999;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Intro splash
 */

.intro-splash {
    padding: 0 0;
    height: 400px;
    background-image: url(../assets/SnowRoad1a.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*text-align: center;*/
    /*color: #fff;*/
    border-bottom: 1px solid $grey-color-light;
    position: relative;
    z-index: 1;
}

/**
* Reset the margin heading
**/

div.intro-splash-content {
    position:absolute;
    margin-top: 20px;

    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

    background-color: rgba(255,255,255,0.5);
    color: $grey-color;

    font-size: 16px;
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;

    @include media-query($on-laptop) {

        /*background-color: blue;*/
        background-color: rgba(255,255,255,0.8);
        max-width: -webkit-calc(#{$on-laptop} - (#{$spacing-unit}*2));
        max-width:         calc(#{$on-laptop} - (#{$spacing-unit}*2));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;



    }

    @include media-query($on-palm) {
        /*background-color: red;*/
        background-color: rgba(255,255,255,0.8);
        max-width: -webkit-calc(#{$on-palm} - (#{$spacing-unit}*5));
        max-width:         calc(#{$on-palm} - (#{$spacing-unit}*5));

        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;

}

/**
 * Intro Blurb
 **/

.intro-blurb {

    text-align: center;
}

.intro-blurb h1 {

    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
}

.intro-blurb h1:before {

    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    left:45%;
    border-bottom: 1px solid $grey-color;

}

.intro-blurb p {

    padding-top: 10px;
    letter-spacing: 1px;

    @include media-query($on-palm) {

        font-size: 12px;
    }
}

/**
 * Font styles - for intro splash content
 */

 .bold {

    font-weight: bold;
 }

 .italics {

    font-style: italic;
 }

 .black-font {

    color: black;
 }

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    background-color: $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-row {
    text-align: center;
}

.footer-text {

    font-size: 10px;

}

ul.social-buttons {
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    list-style-type: none;
}
ul.social-buttons li a {
    display: block;
    /*background-color: #222;*/
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: $grey-color;
    outline: 1px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: $highlight-color;
}

/* End Footer Styles */

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */

 .post-date {
    display: block;
    margin: -.5rem 0 .5rem;
    color: #ccc;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/*
 * Post section - aka Archive
**/

.archive {
    margin-bottom: 3rem;
}

.archive-item {
    margin-bottom: 1rem;
    overflow: auto; /* clearfix */
}

.archive-item + .archive-year {
    margin-top: 2rem;
}

.archive-date {
    margin-top: 0;
    margin-bottom: 0;
}

/*@media (min-width: 34rem) {
    .archive-item {
        margin-bottom: .5rem;
    }

    .archive-date {
        float: right;
        margin-left: 1rem;
    }
}*/

.archive-title {

    font-size: $base-font-size;
    font-weight: 300;
    letter-spacing: 0.5px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

/**
 * Blog content Images
 */

.center-image {
    margin: 0 auto;
    display: block;
}

