<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

      {% if page.layout == 'post' %}

    <div class="post-header-content">
      <div class="wrapper">
      </div>
    </div>

    {% else %}

    <div class="intro-content">
      <div class="wrapper">
        {% include intro.html %}
      </div>
    </div>

    <div class="intro-blurb">
      <div class="wrapper">
        {% include intro-blurb.html %}
      </div>
    </div>

    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
