<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.layout != 'post' %}

    <div class="intro-splash">
      <div class="wrapper">
        {% include intro.html %}
      </div>
    </div>

    <div class="intro-blurb">
      <div class="wrapper">
        {% include intro-blurb.html %}
      </div>
    </div>

    {% endif %}

    <div class="page-content">
      <div class="wrapper wrapper-post">
        {% if page.title == 'About' %}
          <img src="../assets/blogAvatar.jpg" alt="Rahul 2014" class="center-image">
        {% endif %}

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
