<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="intro-splash">
      <div class="wrapper">
      {% if page.layout != post %}
        {% include intro.html %}
      {% endif %}
      </div>
    </div>

    <div class="intro-blurb">
      <div class="wrapper">
        {% if page.layout != post %}
          {% include intro-blurb.html %}
        {% endif %}
      </div>
    </div>



    <div class="page-content">
      <div class="wrapper wrapper-post">
        {% if page.title == 'About' %}
          <img src="../assets/blogAvatar.jpg" alt="Rahul 2014" class="center-image">
        {% endif %}

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
